{% extends 'base.html' %}
{% load i18n %}
{% block title %}Dogchat - Home{% endblock title %}
{% block home %}active{% endblock home %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">{% translate "Welcome to Dogchat" %}</h1>
    <p class="lead">{% translate "DogChat, a lightweight, fast chat platform." %}</p>
    <hr class="my-4">
    <p>{% translate "With DogChat, you can chat quickly and easily. Just one account and enjoy chatting." %}</p>
    <a class="btn btn-primary btn-lg" href="{% url 'users:register' %}" role="button">{% translate "Register Now!" %}</a>
</div>
<div class="alert alert-info text-align: center; margin: 0 auto;" role="alert">
    {% url 'users:login' as the_url %}
    {% blocktranslate %}Already have an account? <a href="{{ the_url }}">Log in</a> now!{% endblocktranslate %}
</div>
<div class="p-3 mb-2 bg-success text-white">Powered By:DogChat</div>
    <p class="font-weight-lighter">{% translate "DogChat, an open source, free, lightweight chat server and client" %}</p>
</div>
{% endblock content %}
