{% extends 'base.html' %}
{% load i18n %}
{% block title %}Dogchat - Login{% endblock title %}
{% block style %}
<style>
    .operation {
        text-align: center;
    }

    form small {
        display: block;
        text-align: right;
        color: gray;
    }

    form label {
        margin: 0 auto;
    }

    form {
        padding: 5px;
    }
</style>
{% endblock style %}
{% block login %}active{% endblock login %}
{% block content %}
<h1 style="text-align: center; margin: 0 auto;">{% translate "User login" %}</h1>
<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    {% if err_msg %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ err_msg }}</strong><br>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <label for="username">{% translate "Username" %}</label><br>
    <input type="text" name="username" class="form-control" id="username" placeholder="{% translate "Enter username" %}" required><br>
    <label for="password">{% translate "Password" %}</label><br>
    <input type="password" name="password" class="form-control" id="password" placeholder="{% translate "Enter password" %}" autocomplete="off" required><br>
    <div class="operation">
        <button type="submit" class="form-control btn btn-primary col-6">{% translate "Login" %}</button>
    </div>
    {% url 'users:register' as the_url %}
    <small>{% blocktranslate %}No account? <a href="{{ the_url }}">Sign up</a> now!{% endblocktranslate %}</small>
</form>
{% endblock content %}

