{% extends 'base.html' %}
{% load i18n %}
{% block title %}Dogchat - Register{% endblock title %}
{% block style %}
<style>
    .operation {
        text-align: center;
    }
    
    form small {
        display: block;
        text-align: right;
        color: gray;
    }
    
    form label {
        margin: 0 auto;
    }
    
    form span {
        color: red;
    }
    
    form {
        padding: 5px;
    }
</style>
{% endblock style %}
{% block register %}active{% endblock register %}
{% block content %}
<h1 style="text-align: center; margin: 0 auto;">{% translate "User register" %}</h1>
<form action="{% url 'users:register' %}" method="POST">
    {% csrf_token %}
    <div class="alert alert-danger alert-dismissible fade show err_alert" role="alert" {% if not err_msg %} hidden {% endif %}>
        <strong id="err_msg">{% if err_msg %}{{ err_msg }}{% endif %}</strong><br>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <label for="username"><span> * </span>{% translate "Username" %}</label><br>
    <input type="text" name="username" class="form-control" id="username" placeholder="{% translate "Enter username" %}" required><br>
    <label for="password"><span> * </span>{% translate "Password" %}</label><br>
    <input type="password" name="password" class="form-control" id="password" placeholder="{% translate "Enter password" %}" autocomplete="off" required><br>
    <label for="password"><span> * </span>{% translate "Confirm password" %}</label><br>
    <input type="password" name="confirm" class="form-control" id="confirm" placeholder="{% translate "Enter password again" %}" autocomplete="off" required><br>
    <div class="operation">
        <button type="submit" class="form-control btn btn-primary col-6">{% translate "Register" %}</button>
    </div>
    {% url 'users:login' as the_url%}
    <small>{% blocktranslate %}Already have an account? <a href="{{ the_url }}">Log in</a> now!{% endblocktranslate %}</small>
</form>
<script>
    $('form').submit(function(){
        if($('#confirm').val() === $('#password').val()){
            return true;
        }
        $('.err_alert').removeAttr('hidden');
        $('#err_msg').text('{% translate "Password input is inconsistent" %}');
        return false;
    })
</script>
{% endblock content %}
