{% extends 'base.html' %}
{% load i18n %}
{% block title %}Dogchat - Friends{% endblock title %}
{% block style %}
<style>
    a, a:hover {
        color: cornflowerblue;
        text-decoration: none;
    }

    body {
        margin: 5px 5px;
    }

    .result_t {
        font-size: 20px;
        margin-top: 5px;
    }
</style>
{% endblock style %}
{% block content %}
<h1 style="text-align: center; margin: 0 auto;">{% translate "User search" %}</h1>
<form method="GET" action="{% url 'users:search' %}">
    <div class="form-row">
        <input class="form-control col-8 col-md-2" name='name' id='name' type='text' value="{{ req }}">
        <button type='submit' class="btn btn-outline-primary">{% translate "Search" %}</button>
    </div>
</form>
<h1 class="result_t">{% translate "Search Result" %}</h1>
<ul>
    {% for user in result %}
    <li><a href="#">{{ user.username }}</a></li>
    {% endfor %}
<ul>
{% endblock content %}
