<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Refresh" content="{{ time }};url={{ url  }}"> 
    <title></title>
</head>
<body>
    <p>{{ reason }}</p>
    <p>You will be redirected to the <a href="{{ url }}">{% if page_name %}{{ page_name  }}{% else %}{{ url }}{% endif %}</a> page in {{ time }} seconds.</p>
    <p>If it doesn't work, please click the link above</p>
</body>
</html>
